.container {
  max-width: 1400px;
  margin: 0 auto;
  // margin-top: 120px;
  @media screen and (max-width: 768px) {
    max-width: 768px;
    padding: 0px 36px;
  }
  @media screen and (max-width: 576px) {
    max-width: 576px;
    padding: 0px 24px;
  }
}
